@import "tailwindcss";

html, body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-weight: normal; /* Usando peso 700 para "bold" */
}

/* Importação de fontes Montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
         url('@/assets/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
         url('@/assets/fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
         url('@/assets/fonts/montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
         url('@/assets/fonts/montserrat/Montserrat-Italic.woff2') format('woff2');
    font-weight: normal, bold, 900, bold, normal;
    font-style: normal, normal, normal, italic, italic;
    font-display: swap;
}

/* Fontes com Peso Extra */
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
         url('@/assets/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800, 800;
    font-style: normal, italic;
    font-display: swap;
}

/* Fontes mais leves */
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
         url('@/assets/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
         url('@/assets/fonts/montserrat/Montserrat-LightItalic.woff2') format('woff2');
    font-weight: 200, 300, 300;
    font-style: normal, normal, italic;
    font-display: swap;
}

/* Fontes de Peso Médio */
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
         url('@/assets/fonts/montserrat/Montserrat-MediumItalic.woff2') format('woff2');
    font-weight: 500, 500;
    font-style: normal, italic;
    font-display: swap;
}

/* Fontes Semi-Bold */
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
         url('@/assets/fonts/montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600, 600;
    font-style: normal, italic;
    font-display: swap;
}

/* Fontes de Peso Fino */
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
         url('@/assets/fonts/montserrat/Montserrat-ThinItalic.woff2') format('woff2');
    font-weight: 100, 100;
    font-style: normal, italic;
    font-display: swap;
}
